body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  .pages {
    display: flex;
    margin-left: 35%;
  }

  .page {
    margin-right: 20px;
    color: #18A0FB;
    text-decoration: none;
  }

  .buttons {
    display: flex;
  }

  .button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .button2 {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: white;
    color: #18A0FB;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }


/* 
  --------------------------------------------------------------------------------------------------- */


 

  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 460px;
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
    color: rgb(216, 210, 210);
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-color: rgb(217, 219, 219);
    border-radius: 10px;
  }

  .login-button {
    background-color: #18A0FB;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
  }

  .forgot-password {
    text-align: right;
    margin-top: 10px;
    color: #18A0FB;
  }

  .signup-buttons {
    margin-top: 20px;
  }

  .signup-button {
    background-color: #18A0FB;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }









  /* --------------------------------------------------------------------------------------------------------- */

  .buttonsfoo {
    display: flex;
    flex-direction: column;
    
  }

  .buttonf1 {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1rem;
    align-items: center;
    justify-items: center;
  }
  .buttonf2 {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: white;
    color: #18A0FB;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }